// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2023 Graeme Harker (<graeme.harker@gmail.com>)
 */

/dts-v1/;

/ {
	model = "Sparky1";
	compatible = "spk,sparky1";
	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		stdout-path = "serial0:115200n8";
		tick-timer = "timer0";
	};

	aliases {
		serial0 = &uart0;
	};

    uart0: uart@80000000 {
        compatible = "motorola,uart68681";
        reg = <0x80000000 0x10>;
		status = "okay";
		bootph-all;
    };

    timer0: timer@80000000 {
        compatible = "motorola,mc68681_timer";
        reg = <0x80000000 0x10>;
		clock-frequency = <100>;
		status = "okay";
		bootph-all;
    };

    gpio0: gpio0@80000000 {
        compatible = "motorola,mc68681_gpio";
        reg = <0x80000000 0x10>;
    	gpio-controller;
		#gpio-cells = <2>;
		gpio-bank-name="o";
		ngpios = <8>;
		status = "okay";
	};

    gpio1: gpio1@80000000 {
        compatible = "motorola,mc68681_gpio";
        reg = <0x80000000 0x10>;
    	gpio-controller;
		#gpio-cells = <2>;
		gpio-bank-name="i";
		ngpios = <6>;
		status = "okay";
	};

	spi0: spi@c0000000 {
		compatible = "sparky,spi";
        reg = <0xc0000000 0x2>;
		#address-cells = <1>;
		#size-cells = <0>;
		spi-max-frequency = <400000>;
		num-cs = <1>;
		spi-mode = <0>;
		status = "okay";
		mmc@0 {
			compatible = "mmc-spi-slot";
			reg = <0>;
			spi-max-frequency = <20000000>;
			status = "okay";
		};
	};
};